html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}

body{margin: 0;padding: 0;}
body{font-family: -apple-system, BlinkMacSystemFont, sans-serif}

/* minions.css */
.d-f{display:-webkit-box;display:-ms-flexbox;display:flex}
.f-50vw{-webkit-box-flex:0;-ms-flex:0 0 50vw;flex:0 0 50vw}
.xw-50vw{max-width:50vw}
.mb-2{margin-bottom:1rem}
.px-2{padding-left:1rem;padding-right:1rem}
.brw-1p\:fc:first-child{border-width:0;border-right-width:1px;border-style:solid}
.fw-900{font-weight: 900}

/* open-color.css */
.bc-gray2{border-color: #e9ecef}

/* ReactCodeMirror */
.CodeMirror{height: calc(100vh - 6.5rem)}
